/* * {
  border: 1px solid red;
} */
.App {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  margin-top: 15px;
}
.container {
  /* border: 2px solid black; */
  padding: 10px;
  display: flex;
}
.info-columns {
  width: 14.285%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.token-column {
  width: 14.285%;
  display: flex;
  justify-content: flex-start;
}
.token-icon {
  height: 24px;
  width: 24px;
  vertical-align: inherit;
  margin-right: 10px;
}
svg {
  width: 1.25em;
  height: 1.25em;
}
svg:hover {
  fill: red;
  cursor: pointer;
}
#top15-heading {
  font-size: 1.60rem;
  text-align: left;
}
.margin-top { 
  margin-top: 25px;
}
.margin-btm {
  margin-bottom: 20px;
}
button {
  background-color: #fff;
  border: 0px;
}
#middle {
  vertical-align: middle;
}
.crypto-links {
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 18px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.logreg {
  width: 400px;
  margin: 0 auto;
  min-height: 100%;
  min-height: 100vh;
  height: auto;
  margin-top: 55px;
  /* align-items: center;
  display: flex; */
}

/* .form-control:focus{
  box-shadow: 0 0 0 0.25rem rgba(255, 3, 3, 0.316) !important;
  border-color: #ea1025 !important;
} */

.error-text {
  color: #ea1025;
  /* font-weight: 600; */
}

.top-crypto-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-top: 15px;
}

.search-box{ 
  width: 250px;
}

.add-fav-icon > input {
  display: none;
}